[Unit]
Description=Create /opt/minecraft/server backup
Requires=minecraft-backup.service
[Timer]
Unit=minecraft-backup.service
OnCalendar=00/2:30
[Install]
WantedBy=timers.target
