[Unit]
Description=Create /opt/minecraft/server backup
Wants=minecraft-backup.timer
[Service]
WorkingDirectory=/opt/minecraft/tools
ExecStart=/opt/minecraft/tools/backup.sh
StandardInput=null
[Install]
WantedBy=multi-user.target
